* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* utility */

/* colors */

/* 
    #0084fd banner blue
    #b5ddff demo sect div
    #9792e4 planning sect bg
    #fdc15f get started title text color
*/

.color-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.color-blue {
    color: #0084fd;
}

.bg-blue {
    background-color: #0084fd;
}

.color-violet {
    color: #9792e4;
}

.bg-violet {
    background-color: #9792e4;
}

.color-black {
    color: black;
}

.bg-black {
    background-color: #333333;
}

.color-gray {
    color: gray;
}

.color-lgray {
    color: lightgray;
}

.color-yellow {
    color: #fdc15f;
}

/* misc */

/* font and text */

.t-align-center {
    text-align: center;
}

.font-size-larger {
    font-size: 1.3rem;    
}

.font-size-2rem {
    font-size: 2rem;    
}

.font-size-3rem {
    font-size: 3rem;
}

.font-size-en {
    font-size: 4rem;    
}

/* padding */

.padding-standard {
    padding: 20px 40px;
}

.padding-10-40 {
    padding: 10px 40px;
}

.padding-20-80 {
    padding: 20px 80px;
}

.padding-10 {
    padding: 10px;
}

.padding-10-20 {
    padding: 10px 20px;
}

.padding-20 {
    padding: 20px;
}

.padding-40 {
    padding: 40px;
}

.padding-top-30 {
    padding-bottom: 30px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

/* margin */

.margin-top-standard {
    margin-top: 150px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-0-auto {
    width: 100%;
    margin: 0 auto;
}

/* width */

.width-100 {
    width: 100%;
}

/* border */

.border-radius-standard {
    border-radius: 25px;
}

.border-radius-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.border-radius-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.border-radius-50 {
    border-radius: 50%;
}


/* header style */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* demo section */

.demo-div {
    width: 100%;
    background-color: #b5ddff;
}

/* demo tablet section */

@media screen and (min-width: 780px) {
    .demo .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0px 20px;
    }

    .demo .container div:first-child {
        width: 64%;
    }

    .demo .container div:nth-child(-n + 2) {
        margin-top: 150px;
    }

    .demo-div {
        width: 31%;
    }
}

/* planning section */

.down-arrow-div {
    display: flex;
    justify-content: center;
} 

.down-arrow-div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* testimonials */

.testimonial-div {
    width: 100%;
}

.round-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about-img {
    width: 200px;
    height: 200px;
    background-image: url(../img/about.jpg);
    background-size: cover;
    position: relative;
}

.img-quote {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

@media screen and (min-width: 780px) {
    .round-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .container div:nth-child(-n + 2) {
        margin-top: 50px;
    }

    .testimonial-div img {
        float: left;
    }
}

/* work with us */

/* work with us tablet */

@media screen and (min-width: 780px) {
    .work-with-us .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0px 20px;
    }

    .work-element {
        width: 48%;
    }
}

/* about us */

/* about us tablet */

@media screen and (min-width: 780px) {
    div.about-us {
        display: flex;
        gap: 0px 20px;
    }

    .about-us .container-left {
        width: 59%;
    }

    .about-us .container-right {
        width: 39%;
    }
}

/* get started */

div.get-started * {
    display: block;
}

.underline {
    text-decoration: underline;
}

.footer-div p {
    display: block;
}