* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* utility */

/* colors */

/* 
    #0084fd banner blue
    #b5ddff demo sect div
    #9792e4 planning sect bg
    #fdc15f get started title text color
*/

.color-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.color-blue {
    color: #0084fd;
}

.bg-blue {
    background-color: #0084fd;
}

/* misc */

.padding-standard {
    padding: 20px 40px;
}

.border-radius-standard {
    border-radius: 25px;
}

/* header style */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* demo section */

.demo-div {
    width: 100%;
    background-color: #b5ddff;
}